<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <title>lending page</title>

    

</head>

<body>
    <script>
        function save_order() {
            let title = $('#title').val()
            console.log(title)
            let writer = $('#writer').val()
            console.log(writer)
            let pw = $('#pw').val()
            console.log(pw)
            let contents = $('#contents').val()
            console.log(contents)
            let date1 = new Date()
            let date = date1.getTime()
            console.log(date)
            
    
            $.ajax({
                type: 'post',
                url: '/api/articles',
                data: { Title : title, Writer :writer , PW : pw, Contents : contents, date : date},
                success: function(response){
                    alert(response['result'])
                    window.location.href="/"
                }
            })
        }
    </script>

    <section class="hero is-medium is-warning">
        <div class="hero-body">
            <p class="title">
                푸름이의 블로그
            </p>
        </div>
    </section>
    <div>
        <input id="title" class="input is-warning" type="text" placeholder="제목">
        <input id="writer" class="input is-warning" type="text" placeholder="글쓴이">
        <input id="pw" class="input is-warning" type="password" placeholder="비밀번호">
        <textarea id="contents" class="textarea is-warning" placeholder="내용"></textarea>
        <button class="button is-warning" onclick="save_order()">글쓰기</button>
        <button class="button is-warning" onclick="location.replace('/')">닫기</button>
    </div>
    
</body>

</html>